[mysqld]

datadir=/data/benchmark/mariadb-10.6
user=mysql
socket=/tmp/mysql.sock
log-error=/tmp/mariadb-perf-error.log

#  master_info_repository = TABLE
#  relay_log_info_repository = TABLE

#  binlog_checksum = NONE
#  log_slave_updates = ON

#log_bin = binlog
#relay_log=relay
#sync_binlog=0
#binlog_format = ROW
#binlog_row_image=MINIMAL
#server_id = 1

skip-log-bin

query_cache_type=0
query_cache_size=0

table_open_cache = 200000
table_open_cache_instances=64
back_log=3500
max_connections=4000
join_buffer_size=256K
sort_buffer_size=256K

# files
innodb_file_per_table
innodb_log_file_size=20G
innodb_open_files=4000

# buffers
innodb_buffer_pool_size= 110G
innodb_buffer_pool_instances=1
innodb_log_buffer_size=64M

default_storage_engine=InnoDB

innodb_flush_log_at_trx_commit  = 1
innodb_doublewrite= 1
innodb_flush_method             = O_DIRECT
innodb_file_per_table           = 1
#innodb_io_capacity=10000
#innodb_io_capacity_max=40000
innodb_io_capacity=2000
innodb_io_capacity_max=4000
innodb_flush_neighbors=0
innodb_write_io_threads=4
innodb_read_io_threads=16

max_prepared_stmt_count=1000000

bind_address = 0.0.0.0

# performance-schema instrumentation
#innodb_monitor_enable=all
#performance-schema = true
#performance-schema-consumer-events_waits_current=on
#performance-schema-consumer-events_statements_current=off
#performance-schema-consumer-statements_digest=off
#performance-schema-instrument='%=off'
#performance-schema-instrument='wait/synch/mutex/%=on'
#performance-schema-instrument='wait/synch/rwlock/%=on'

#innodb_flush_sync=1 # default
#innodb_flushing_avg_loops=10

#innodb_max_dirty_pages_pct=50
#innodb_max_dirty_pages_pct_lwm=10
